<div class="message bg-light p-3 my-2 text-dark fade show" [ngClass]="{ 'text-end': message.me }" >

    <div *ngIf="message.input">
        <!-- NAME -->
        <div *ngIf="message.typeInput == 'name'" class="form-group">
            <label for="inputName">{{message.text}}</label>
            <input type="text" class="form-control mb-2" [(ngModel)]="inputName" placeholder="Enter your name">
            <button class="btn btn-primary" (click)="sendName()">Envoyer</button>
        </div>

        <!-- DESCRIPTION -->
        <div *ngIf="message.typeInput == 'description'" class="form-group">
            <label for="inputName">{{message.text}}</label>
            <textarea type="text" class="form-control mb-2" [(ngModel)]="inputDescription" placeholder="Enter your name"></textarea>
            <button class="btn btn-primary" (click)="sendDescription()">Envoyer</button>
        </div>
    </div>

    <!-- NAME -->
    <div *ngIf="message.typeInput == 'email'" class="form-group">
        <label for="inputEmail">{{message.text}}</label>
        <input type="text" class="form-control mb-2" [(ngModel)]="inputName" placeholder="Enter your name">
        <button class="btn btn-primary" (click)="sendEmail()">Envoyer</button>
    </div>

    <div *ngIf="!message.input">
        {{message.text}}
    </div>
</div>